<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="constr" connectionString="Data source = HARSHANA; Initial Catalog = StockControl; User Id = sa; Password = smuh93103" providerName="System.Data.SqlClient"/>
		
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
